{% extends 'neuron/base.html' %}

{% block content %}
<div id="about">
    <h1>О сайте</h1>
    <p>Изучение фондового рынка на сегодняшний день является высокоперспективным направлением экономических
        исследований. Российский фондовый рынок относительно молод и имеет большие перспективы развития.
        Вложение капитала в ценные бумаги все чаще рассматривается инвесторами как наиболее привлекательная
        альтернатива. Рассматривая историю российского фондового рынка, можно сказать, что сегодня наблюдается период
        его умеренного развития. Торговля на фондовом рынке становится доступной для широкого круга лиц не только среди
        крупных участников, но и граждан, имеющих незначительные (в масштабах рынка в целом) возможности
        капиталовложений, за счет все более возрастающей информированности населения. Данные факт неизбежно влечет
        увеличение финансовой грамотности населения, необходимой для рационального ведения деятельности по получению
        дохода на рынке ценных бумаг.
</p>
</div>
{% endblock %}