{% load static %}

<!DOCTYPE html>
<html lang="en">

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block mainmenu %}
<head>
    <!--- Basic Page Needs  -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'neuron/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'neuron/css/responsive.css' %}">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'neuron/img/favicon.ico' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<div class="header">
    <ul id="mainmenu" class="mainmenu">
        <li><a href="{% url 'home' %}"><img src="{% static 'neuron/images/logo.png' %}" width="40" height="90"></a>
        </li>

        {% if request.user.researcher %}
            <li><a href="{% url 'training' %}">Обучение</a></li>
        {% endif %}

        {% for m in menu %}
            <li><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% endfor %}






        {% if request.user.is_authenticated %}
        <li class="last">{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
        {% else %}
        <li class="last"><a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a></li>
        {% endif %}

    </ul>
    <div class="clear"></div>
</div>
{% endblock mainmenu %}

<div class="main">

    {% block index %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</div>
<!-- footer area start -->
<footer>
    <div class="footer-area">
        <div class="container">
            <div class="footer-content text-center">
                <p class="copy-right">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->

<!-- Scripts -->
<script src="{% static 'neuron/js/jquery-3.2.0.min.js' %}"></script>
<script src="{% static 'neuron/js/bootstrap.min.js' %}"></script>
<script src="{% static 'neuron/js/animatedheadline.js' %}"></script>
<script src="{% static 'neuron/js/counterup.js' %}"></script>
<script src="{% static 'neuron/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'neuron/js/theme.js' %}"></script>


</body>

</html>