{% extends 'neuron/base.html' %}
{% load static %}

{% block index %}


<body>

    <!-- prealoader area start -->
    <div id="preloader">
        <div class="spiner"></div>
    </div>
    <!-- prealoader area end -->
    <!-- Crumbs area start -->
    <div class="crumbs-area">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
                    <div class="crumbs-header">
                        <h2 class="cd-headline letters rotate-3">
                            <span class="cd-words-wrapper">
                                {% for n in networks %}
                                    {% if forloop.first %}
                                    <b class="is-visible">{{n.name}}</b>
                                    {% else %}
                                <b>{{n.name}}</b>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </h2>
                        <p>Используйте нейронную сеть для прогнозирования акций</p>
                        <div class="btn-area">
                            <a href="{% url 'choice_forecast_param' %}">Поехали</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Crumbs area end -->
    <!-- counter-box area start -->
    <div class="counter-box">
        <div class="container">
            <div class="row">
                <div class="counter-box-container">
                    <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                        <div class="counter-item">
                            <b class="counter-up">{{networks.count}}</b>
                            <span>Архитектуры нейронных сетей</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                        <div class="counter-item">
                            <b class="counter-up">{{count_trained_nn}}</b>
                            <span>Обученных нейронных сетей</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                        <div class="counter-item">
                            <b class="counter-up">{{count_user}}</b>
                            <span>Пользователей</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

{% block content %}
    <!-- counter-box area end -->
    <!-- demo area start -->

<h1>Представленные архитектуры нейронных сетей</h1>


    <div class="demo-area">
        <div class="container">
            <div class="row">
                {% for n in network %}
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        {% if n.image %}
                            <div class="thumb-area">
                                <a href="{{ n.get_absolute_url }}" target="_blank"><img src="{{n.image.url}}" alt="demo image"></a>
                                <a href="{{ n.get_absolute_url }}" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        {% endif %}
                        <div class="demo-title">
                            <h2>{{n.name}}</h2>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- demo area end -->
{% endblock %}