{% extends 'neuron/base.html' %}


{% block content %}
    <!-- counter-box area end -->
    <!-- demo area start -->
    <div class="demo-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index.html" target="_blank"><img src="img/demo-thumb/index.jpg" alt="demo image"></a>
                            <a href="zeedapp/index.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>Home One / background Slider</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index2.html" target="_blank"><img src="img/demo-thumb/index2.jpg" alt="demo image"></a>
                            <a href="zeedapp/index2.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>Home Two / Paralax Slider</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index3.html" target="_blank"><img src="img/demo-thumb/index3.jpg" alt="demo image"></a>
                            <a href="zeedapp/index3.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>Home Three / Gradiant Paralax</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index4.html" target="_blank"><img src="img/demo-thumb/index4.jpg" alt="demo image"></a>
                            <a href="zeedapp/index4.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>Home Four / Gradiant Color</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index5.html" target="_blank"><img src="img/demo-thumb/index5.jpg" alt="demo image"></a>
                            <a href="zeedapp/index5.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>Home Five / Gradiant Warm Canvas</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/index6.html" target="_blank"><img src="img/demo-thumb/index6.jpg" alt="demo image"></a>
                            <a href="zeedapp/index6.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>Home Six / background video</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog.html" target="_blank"><img src="img/demo-thumb/blog.jpg" alt="demo image"></a>
                            <a href="zeedapp/blog.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>blog standard</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog-with-sidebar.html" target="_blank"><img src="img/demo-thumb/blog-with-sidebar.jpg" alt="demo image"></a>
                            <a href="zeedapp/blog-with-sidebar.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>blog with sidebar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog-left-sidebar.html" target="_blank"><img src="img/demo-thumb/blog-left-sidebar.jpg" alt="demo image"></a>
                            <a href="zeedapp/blog-left-sidebar.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>blog left sidebar</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 col-2">
                    <div class="demo-item">
                        <div class="thumb-area">
                            <a href="zeedapp/blog-details.html" target="_blank"><img src="img/demo-thumb/blog-details.jpg" alt="demo image"></a>
                            <a href="zeedapp/blog-details.html" class="lets-view" target="_blank"><i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        <div class="demo-title">
                            <h2>blog details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- demo area end -->
{% endblock %}