{% extends 'neuron/base.html' %}
{% load static %}

{% block title %}
    <title>{{title}}</title>
{% endblock %}

{% block content %}

<div class="flex-graphic">

    {% block comment %}
    <div class="vertical-menu">
        {% for company in companies %}
        <a href="#">{{company.ticker}}</a>
        {% endfor %}
    </div>
    {% endblock comment %}


    <div style="display: none" id="data_for_graphic_with_predict" data-json="{{ data_for_graphic_with_predict }}"></div>
    <div style="display: none" id="selected_company" data-json="{{ selected_company }}"></div>
    <div style="display: none" id="jsonData" data-json="{{ data_for_graphic }}"></div>


    <div class="res_graphic">
        <canvas id="myChart"></canvas>
        <canvas id="myChart2"></canvas>

        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="{% static 'neuron/js/graphic.js' %}"></script>
    </div>
</div>
<h1>Вы можете проверить выбранную модель нейронной сети на прошлых данных</h1>
<div class="btn-area">
    <a href="{% url 'predict_past_data' %}">Прогноз</a>
</div>
{% endblock %}
