{% extends 'neuron/base.html' %}

{% block content %}


<div class="body-for-reg">
    <div class="container-reg">
        <div class="text-train">{{title}}</div>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
            <p><label class="form-label2" for="{{ f.id_for_label }}">{{f.label}}: </label><br>{{f}}</p>
            <div class="form-error">{{f.errors}}</div>
            {% endfor %}
            <button class="train-button" type="submit">Обучить</button>
        </form>
    </div>
</div>


{% endblock %}